@{string currentPage = ViewContext.RouteData.Values["action"].ToString();}

<div class="sidebar" data-color="red" data-image="/Content/img/sidebar-1.jpg">
    <div class="logo">
        <a href="javascript:void(0)" class="simple-text">
            Menu
        </a>
    </div>

    <div class="sidebar-wrapper">
        <ul class="nav">
            <li>
                <a href="/phonebook">
                    <i class="material-icons">phone</i>
                    <p>Contacts</p>
                </a>
            </li>
        </ul>
    </div>
</div>